In [1]:
import pandas as pd

o,h,l,c = open, high, low, close

t = time

mv = matching volume

mb = trạng thái mua ASk và bán BID

In [3]:
path = 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/persistent_060323/GAS/GAS-182451.csv'

df = pd.read_csv(path).tail(30)

In [4]:
df.columns

Index(['o', 't', 'c', 'ch', 'h', 'l', 'mb', 'mv', 'ra', 'se', 'va', 'vo'], dtype='object')

In [31]:
for i in range(len(df['va']) - 1):
    if(int(df['va'][i:i+1]) == int(df['va'][i+1:i+2])):
        print(df[df['va'] == int(df['va'][i:i+1])])

         o      t       c   ch       h       l   mb   mv    ra   se  \
74  105500  71800  103800 -700  105500  103800  ASK  200 -0.67  241
75  105500  71800  103800 -700  105500  103800  ASK  100 -0.67  240

            va     vo
74  6634610000  63300
75  6634610000  63300
         o      t       c   ch       h       l   mb   mv    ra   se  \
81  105500  71611  104000 -500  105500  104000  ASK  100 -0.48  234
82  105500  71611  104000 -500  105500  104000  ASK  100 -0.48  234

            va     vo
81  6541060000  62400
82  6541060000  62400
         o      t       c   ch       h       l   mb   mv    ra   se  \
83  105500  71611  104000 -500  105500  104000  ASK  100 -0.48  232
84  105500  71611  104000 -500  105500  104000  ASK  200 -0.48  231

            va     vo
83  6520260000  62200
84  6520260000  62200
         o      t       c   ch       h       l   mb   mv    ra   se  \
92  105500  71450  104000 -500  105500  104000  ASK  100 -0.48  223
93  105500  71450  104000 -500  105500  104000  ASK  100 -0.48  223

            va     vo
92  5958660000  56800
93  5958660000  56800

In [35]:
df['thanh_khoan'] = df['mv'] * df['vo']
df[:10]

,o,t,c,ch,h,l,mb,mv,ra,se,va,vo,thanh_khoan
70,105500,72020,103900,-600,105500,103800,BID,200,-0.57,245,6717700000,64100,12820000
71,105500,72011,103900,-600,105500,103800,BID,100,-0.57,244,6707310000,64000,6400000
72,105500,72006,103900,-600,105500,103800,BID,100,-0.57,243,6696920000,63900,6390000
73,105500,72000,103900,-600,105500,103800,BID,300,-0.57,242,6665750000,63600,19080000
74,105500,71800,103800,-700,105500,103800,ASK,200,-0.67,241,6634610000,63300,12660000
75,105500,71800,103800,-700,105500,103800,ASK,100,-0.67,240,6634610000,63300,6330000
76,105500,71748,103900,-600,105500,103800,BID,100,-0.57,239,6624220000,63200,6320000
77,105500,71619,103800,-700,105500,103800,ASK,100,-0.67,238,6613840000,63100,6310000
78,105500,71619,103900,-600,105500,103900,ASK,200,-0.57,237,6593060000,62900,12580000
79,105500,71616,104000,-500,105500,104000,ASK,100,-0.48,236,6582660000,62800,6280000

In [61]:
import pandas as pd
import glob
import os

path = r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/persistent_060323/VN30'
all_files = glob.glob(os.path.join(path, "*.csv"))

df_VN30_060323 = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
df_VN30_060323['thanh_khoan'] = df_VN30_060323['mv'] * df_VN30_060323['vo']

df_VN30_060323[:10]

,t,c,ch,h,l,mv,ra,se,va,vo,thanh_khoan
0,22103,1023.40,10.05,1023.40,1023.40,114700,0.99,67.0,168847000000,10723100,1229939570000
1,22058,1023.34,9.99,1023.34,1023.34,22700,0.99,66.0,166017000000,10608400,240810680000
2,22053,1023.45,10.10,1023.45,1023.45,16300,1.00,65.0,165340000000,10585700,172546910000
3,22048,1023.43,10.08,1023.43,1023.43,85900,0.99,64.0,164516000000,10569400,907911460000
4,22043,1023.65,10.30,1023.65,1023.65,20400,1.02,63.0,162590000000,10483500,213863400000
5,22038,1023.65,10.30,1023.65,1023.65,158200,1.02,62.0,162091000000,10463100,1655262420000
6,22033,1023.85,10.50,1023.85,1023.85,5800,1.04,61.0,158093000000,10304900,59768420000
7,22028,1023.43,10.08,1023.43,1023.43,272200,0.99,60.0,157982000000,10299100,2803415020000
8,22023,1023.48,10.13,1023.48,1023.48,68600,1.00,59.0,153356000000,10026900,687845340000
9,22018,1023.48,10.13,1023.48,1023.48,27200,1.00,58.0,151578000000,9958300,270865760000

In [62]:
import pandas as pd
import glob
import os

path = r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/persistent_070323/VN30'
all_files = glob.glob(os.path.join(path, "*.csv"))

df_VN30_070323 = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
df_VN30_070323['thanh_khoan'] = df_VN30_070323['mv'] * df_VN30_070323['vo']

df_VN30_070323[:10]

,t,c,ch,h,l,mv,ra,se,va,vo,thanh_khoan
0,22837,1028.26,14.00,1028.26,1028.26,89200,1.38,156,254082000000,13029100,1162195720000
1,22832,1028.85,14.59,1028.85,1028.85,111100,1.44,155,252080000000,12939900,1437622890000
2,22827,1028.73,14.47,1028.73,1028.73,68000,1.43,154,250437000000,12828800,872358400000
3,22822,1028.99,14.73,1028.99,1028.99,67900,1.45,153,249303000000,12760800,866458320000
4,22817,1028.54,14.28,1028.54,1028.54,22900,1.41,152,247978000000,12692900,290667410000
5,22812,1028.66,14.40,1028.66,1028.66,12100,1.42,151,247501000000,12670000,153307000000
6,22807,1028.82,14.56,1028.82,1028.82,31700,1.44,150,247178000000,12657900,401255430000
7,22802,1029.02,14.76,1029.02,1029.02,10700,1.46,149,246414000000,12626200,135100340000
8,22757,1028.99,14.73,1028.99,1028.99,19900,1.45,148,246156000000,12615500,251048450000
9,22752,1029.04,14.78,1029.04,1029.04,34200,1.46,147,245779000000,12595600,430769520000

In [64]:
import pandas as pd
import glob
import os

path = r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/persistent_050323/VN30'
all_files = glob.glob(os.path.join(path, "*.csv"))

df_VN30_050323 = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)
df_VN30_050323['thanh_khoan'] = df_VN30_050323['mv'] * df_VN30_050323['vo']

df_VN30_050323[:100]

,t,c,ch,h,l,mv,ra,se,va,vo,thanh_khoan
0,80157,1013.35,-15.38,1013.35,1013.35,0,-1.5,2860,2029458000000,87583900,0
1,80152,1013.35,-15.38,1013.35,1013.35,0,-1.5,2859,2029458000000,87583900,0
2,80147,1013.35,-15.38,1013.35,1013.35,0,-1.5,2858,2029458000000,87583900,0
3,80141,1013.35,-15.38,1013.35,1013.35,0,-1.5,2857,2029458000000,87583900,0
4,80136,1013.35,-15.38,1013.35,1013.35,0,-1.5,2856,2029458000000,87583900,0
...,...,...,...,...,...,...,...,...,...,...,...
95,75401,1013.35,-15.38,1013.35,1013.35,0,-1.5,2765,2029458000000,87583900,0
96,75356,1013.35,-15.38,1013.35,1013.35,0,-1.5,2764,2029458000000,87583900,0
97,75351,1013.35,-15.38,1013.35,1013.35,0,-1.5,2763,2029458000000,87583900,0
98,75346,1013.35,-15.38,1013.35,1013.35,0,-1.5,2762,2029458000000,87583900,0
99,75341,1013.35,-15.38,1013.35,1013.35,0,-1.5,2761,2029458000000,87583900,0

In [76]:
df_top30_thanh_khoan =pd.concat([df_VN30_050323,df_VN30_060323,df_VN30_070323]).sort_values(by=['thanh_khoan'], ascending=False)[:20]

In [78]:
df_top30_thanh_khoan['t'].max(), df_top30_thanh_khoan['t'].min()

(72853, 71533)

Câu 6. Dùng linear regression để tính xem giá cổ phiếu nào tăng giảm thì có ảnh hưởng nhiều
nhất đến vn30

In [83]:
import pandas as pd
import glob
import os

path = r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/persistent_060323/VN30'
all_files = glob.glob(os.path.join(path, "*.csv"))

df_VN30_060323 = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

df_VN30_060323[:100]

,t,c,ch,h,l,mv,ra,se,va,vo
0,22103,1023.40,10.05,1023.40,1023.40,114700,0.99,67.0,168847000000,10723100
1,22058,1023.34,9.99,1023.34,1023.34,22700,0.99,66.0,166017000000,10608400
2,22053,1023.45,10.10,1023.45,1023.45,16300,1.00,65.0,165340000000,10585700
3,22048,1023.43,10.08,1023.43,1023.43,85900,0.99,64.0,164516000000,10569400
4,22043,1023.65,10.30,1023.65,1023.65,20400,1.02,63.0,162590000000,10483500
...,...,...,...,...,...,...,...,...,...,...
95,21308,1013.35,0.00,1013.35,1013.35,0,0.00,140.0,0,0
96,21303,1013.35,0.00,1013.35,1013.35,0,0.00,139.0,0,0
97,21258,1013.35,0.00,1013.35,1013.35,0,0.00,138.0,0,0
98,21253,1013.35,0.00,1013.35,1013.35,0,0.00,137.0,0,0
99,21248,1013.35,0.00,1013.35,1013.35,0,0.00,136.0,0,0

In [ ]:
import pandas as pd
import glob
import os

%cd C:\Users\Admin\OneDrive_Quan\Máy tính\Test_CTY_Dang\Request\total_data

# folder chứa data
all_folders = ['persistent_060323','persistent_070323']

# VN_id
VN_30_id = ['ACB', 'BID', 'BVH', 'CTG', 'FPT', 'GAS', 'GVR', 'HDB', 'HPG', 'KDH', 'MBB', 'MSN', 'MWG', 'NVL',
'PDR', 'PLX', 'PNJ', 'POW', 'SAB', 'SSI', 'STB', 'TCB', 'TPB', 'VCB', 'VHM', 'VIC', 'VJC', 'VNM',
'VPB', 'VRE', 'VN30']


# Nối tất cả các file trong 2 ngày 06,07/03/2023 mà có chung mã VN_id -> 2 file 06,07/03/2023
dem = 0

for folder in all_folders:
    for vn_id in VN_30_id:
        path = f'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/{folder}/{vn_id}'
        all_link_files = glob.glob(os.path.join(path, "*.csv"))


        all_files = []

        for link_file in all_link_files:
            print(link_file)
            all_files.append(link_file)

        pd.concat((pd.read_csv(f) for f in all_link_files), ignore_index=True).to_csv(f'{vn_id}_{dem}.csv', index=None)
        dem += 1

In [37]:
VN_30_id = ['ACB', 'BID', 'BVH', 'CTG', 'FPT', 'GAS', 'GVR', 'HDB', 'HPG', 'KDH', 'MBB', 'MSN', 'MWG', 'NVL',
'PDR', 'PLX', 'PNJ', 'POW', 'SAB', 'SSI', 'STB', 'TCB', 'TPB', 'VCB', 'VHM', 'VIC', 'VJC', 'VNM',
'VPB', 'VRE', 'VN30']

# Nối 2 file vừa tạo ra -> 1 file
path = r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data'

all_link_files = glob.glob(os.path.join(path, "*.csv"))

for vn_id in VN_30_id:
    total_link_vn_id = []
    for link_file in all_link_files:
        if(vn_id in link_file):
            total_link_vn_id.append(link_file)

    df = pd.concat((pd.read_csv(f) for f in total_link_vn_id), ignore_index=True)
    df['vn_id'] = f'{vn_id}'
    df.to_csv(f'total/total_{vn_id}.csv', index=None)

6. Dùng linear regression để tính xem giá cổ phiếu nào tăng giảm thì có ảnh hưởng nhiều
nhất đến vn30

In [4]:
import pandas as pd
import glob
import os

path = r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total'

all_link_files = glob.glob(os.path.join(path, "*.csv"))

In [5]:
all_link_files

['C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_ACB.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_BID.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_BVH.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_CTG.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_FPT.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_GAS.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_GVR.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_HDB.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_HPG.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_KDH.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_MBB.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_MSN.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_MWG.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_NVL.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_PDR.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_PLX.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_PNJ.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_POW.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_SAB.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_SSI.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_STB.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_TCB.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_TPB.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_VCB.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_VHM.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_VIC.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_VJC.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_VN30.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_VNM.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_VPB.csv',
 'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total\\total_VRE.csv']

In [6]:
# Import libraries
import glob
import pandas as pd

# Get CSV files list from a folder
path = r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total'
csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file)[:1238] for file in csv_files)

# Concatenate all DataFrames
big_df   = pd.concat(df_list, ignore_index=True)

big_df

,o,t,c,ch,h,l,mb,mv,ra,se,va,vo,vn_id
0,24850.0,22133,24500.0,0.0,24900.0,24500.0,ASK,69800,0.00,57.0,5768235000,235000,ACB
1,24850.0,22133,24550.0,50.0,24900.0,24500.0,ASK,100,0.20,57.0,5768235000,235000,ACB
2,24850.0,22133,24550.0,50.0,24900.0,24500.0,ASK,100,0.20,57.0,5768235000,235000,ACB
3,24850.0,22057,24500.0,0.0,24900.0,24500.0,ASK,62300,0.00,54.0,3563235000,145000,ACB
4,24850.0,22057,24500.0,0.0,24900.0,24500.0,ASK,27200,0.00,54.0,3563235000,145000,ACB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38373,26550.0,72327,26600.0,450.0,27000.0,26500.0,ASK,1000,1.72,2167.0,54028950000,2020700,VRE
38374,26550.0,72321,26600.0,450.0,27000.0,26500.0,ASK,400,1.72,2164.0,53978410000,2018800,VRE
38375,26550.0,72311,26600.0,450.0,27000.0,26500.0,ASK,4800,1.72,2163.0,53850730000,2014000,VRE
38376,26550.0,72301,26600.0,450.0,27000.0,26500.0,ASK,4800,1.72,2162.0,53723050000,2009200,VRE
38377,26550.0,72256,26650.0,500.0,27000.0,26500.0,BID,200,1.91,2161.0,53717720000,2009000,VRE

In [7]:
df_1238 = big_df[['vo','vn_id']]

df_1238['change'] = 1

df_1238.sample(3)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12748\3466027866.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1238['change'] = 1

            vo vn_id  change
32872    83500   VJC       1
869    2576000   ACB       1
15656   377500   MWG       1

In [8]:
# change = 0,1,2
# 0 : giá cổ phiếu giảm so với lần trước
# 1 : giá cổ phiếu không thay đổi so với lần trước
# 2 : giá cổ phiếu tăng so với lần trước

for index in range(len(df_1238)):
    if(index == 0 or index == (len(df_1238) - 1)):
        df_1238['change'][index] = 1
    else:
        # so sánh với giá lần gần nhất
        if(df_1238['vo'][index] < df_1238['vo'][index - 1]):
            df_1238['change'][index] = 0
        elif(df_1238['vo'][index] == df_1238['vo'][index - 1]):
            df_1238['change'][index] = 1
        elif(df_1238['vo'][index] > df_1238['vo'][index - 1]):
            df_1238['change'][index] = 2

C:\Users\Admin\AppData\Local\Temp\ipykernel_12748\2626696252.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1238['change'][index] = 1
C:\Users\Admin\AppData\Local\Temp\ipykernel_12748\2626696252.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1238['change'][index] = 1
C:\Users\Admin\AppData\Local\Temp\ipykernel_12748\2626696252.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1238['change'][index] = 0
C:\Users\Admin\AppData\Local\Temp\ipykernel_12748\2626696252.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1238['change'][index] = 2

In [9]:
df_1238['change'].value_counts()

0    29884
2     4342
1     4152
Name: change, dtype: int64

In [11]:
df_ACB = df_1238[df_1238['vn_id'] == 'ACB']
df_BID = df_1238[df_1238['vn_id'] == 'BID']
df_BVH = df_1238[df_1238['vn_id'] == 'BVH']
df_CTG = df_1238[df_1238['vn_id'] == 'CTG']
df_FPT = df_1238[df_1238['vn_id'] == 'FPT']
df_GAS = df_1238[df_1238['vn_id'] == 'GAS']
df_GVR = df_1238[df_1238['vn_id'] == 'GVR']
df_HDB = df_1238[df_1238['vn_id'] == 'HDB']
df_HPG = df_1238[df_1238['vn_id'] == 'HPG']
df_KDH = df_1238[df_1238['vn_id'] == 'KDH']
df_MBB = df_1238[df_1238['vn_id'] == 'MBB']
df_MSN = df_1238[df_1238['vn_id'] == 'MSN']
df_MWG = df_1238[df_1238['vn_id'] == 'MWG']
df_NVL = df_1238[df_1238['vn_id'] == 'NVL']
df_PDR = df_1238[df_1238['vn_id'] == 'PDR']
df_PLX = df_1238[df_1238['vn_id'] == 'PLX']
df_PNJ = df_1238[df_1238['vn_id'] == 'PNJ']
df_POW = df_1238[df_1238['vn_id'] == 'POW']
df_SAB = df_1238[df_1238['vn_id'] == 'SAB']
df_SSI = df_1238[df_1238['vn_id'] == 'SSI']
df_STB = df_1238[df_1238['vn_id'] == 'STB']
df_TCB = df_1238[df_1238['vn_id'] == 'TCB']
df_TPB = df_1238[df_1238['vn_id'] == 'TPB']
df_VCB = df_1238[df_1238['vn_id'] == 'VCB']
df_VHM = df_1238[df_1238['vn_id'] == 'VHM']
df_VIC = df_1238[df_1238['vn_id'] == 'VIC']
df_VJC = df_1238[df_1238['vn_id'] == 'VJC']
df_VNM = df_1238[df_1238['vn_id'] == 'VNM']
df_VPB = df_1238[df_1238['vn_id'] == 'VPB']
df_VRE = df_1238[df_1238['vn_id'] == 'VRE']
df_VN30 = df_1238[df_1238['vn_id'] == 'VN30']

In [12]:
column_names = ['ACB', 'BID', 'BVH', 'CTG', 'FPT', 'GAS', 'GVR', 'HDB', 'HPG', 'KDH', 'MBB', 'MSN', 'MWG', 'NVL',
'PDR', 'PLX', 'PNJ', 'POW', 'SAB', 'SSI', 'STB', 'TCB', 'TPB', 'VCB', 'VHM', 'VIC', 'VJC', 'VNM',
'VPB', 'VRE', 'VN30']

df_change = pd.DataFrame(columns= column_names)

df_change

Empty DataFrame
Columns: [ACB, BID, BVH, CTG, FPT, GAS, GVR, HDB, HPG, KDH, MBB, MSN, MWG, NVL, PDR, PLX, PNJ, POW, SAB, SSI, STB, TCB, TPB, VCB, VHM, VIC, VJC, VNM, VPB, VRE, VN30]
Index: []

[0 rows x 31 columns]

In [13]:
df_change = df_change.assign(ACB = df_ACB.change.to_list(),
                 BID = df_BID.change.to_list(),
                 BVH = df_BVH.change.to_list(),
                 CTG = df_CTG.change.to_list(),
                 FPT = df_FPT.change.to_list(),
                 GAS = df_GAS.change.to_list(),
                 GVR = df_GVR.change.to_list(),
                 HDB = df_HDB.change.to_list(),
                 HPG = df_HPG.change.to_list(),
                 KDH = df_KDH.change.to_list(),
                 MBB = df_MBB.change.to_list(),
                 MSN = df_MSN.change.to_list(),
                 MWG = df_MWG.change.to_list(),
                 NVL = df_NVL.change.to_list(),
                 PDR = df_PDR.change.to_list(),
                 PLX = df_PLX.change.to_list(),
                 PNJ = df_PNJ.change.to_list(),
                 POW = df_POW.change.to_list(),
                 SAB = df_SAB.change.to_list(),
                 SSI = df_SSI.change.to_list(),
                 STB = df_STB.change.to_list(),
                 TCB = df_TCB.change.to_list(),
                 TPB = df_TPB.change.to_list(),
                 VCB = df_VCB.change.to_list(),
                 VHM = df_VHM.change.to_list(),
                 VIC = df_VIC.change.to_list(),
                 VJC = df_VJC.change.to_list(),
                 VNM = df_VNM.change.to_list(),
                 VPB = df_VPB.change.to_list(),
                 VRE = df_VRE.change.to_list(),
                 VN30 = df_VN30.change.to_list())

In [18]:
df_change.to_csv(r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total/creator/df_change.csv', index=False)
df_change = pd.read_csv(r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total/creator/df_change.csv')
df_change

,ACB,BID,BVH,CTG,FPT,GAS,GVR,HDB,HPG,KDH,...,TCB,TPB,VCB,VHM,VIC,VJC,VNM,VPB,VRE,VN30
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0
2,1,1,0,2,0,0,0,2,0,0,...,1,0,1,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,2,1,0
4,1,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,0,2,0,2,0,1,0,0,0,0,...,0,2,0,0,0,0,0,0,2,1
1234,0,0,2,0,0,0,0,1,1,0,...,0,0,2,0,0,0,0,0,0,1
1235,0,0,0,0,1,1,0,0,1,0,...,0,2,2,0,0,2,0,2,0,1
1236,0,0,0,0,1,0,0,1,1,0,...,2,0,0,0,2,0,0,0,0,1
1237,0,0,0,0,0,0,1,0,0,0,...,2,0,2,0,0,0,0,0,1,1

In [19]:
for col in df_change:
  print(f'{col}: {df_change[col].unique()}')

ACB: [1 0 2]
BID: [0 1 2]
BVH: [0 2 1]
CTG: [0 2 1]
FPT: [0 2 1]
GAS: [0 2 1]
GVR: [0 2 1]
HDB: [0 2 1]
HPG: [0 2 1]
KDH: [0 2 1]
MBB: [0 1 2]
MSN: [0 2 1]
MWG: [0 1 2]
NVL: [2 0 1]
PDR: [0 1 2]
PLX: [0 1 2]
PNJ: [0 1 2]
POW: [2 0 1]
SAB: [0 1 2]
SSI: [2 1 0]
STB: [0 1 2]
TCB: [0 1 2]
TPB: [0 1 2]
VCB: [0 1 2]
VHM: [0 1 2]
VIC: [0 2 1]
VJC: [0 1 2]
VNM: [0 1 2]
VPB: [0 1 2]
VRE: [0 1 2]
VN30: [2 0 1]

In [25]:
data_predict = pd.get_dummies(data=df_change, columns = column_names[:-1])
data_predict

,VN30,ACB_0,ACB_1,ACB_2,BID_0,BID_1,BID_2,BVH_0,BVH_1,BVH_2,...,VJC_2,VNM_0,VNM_1,VNM_2,VPB_0,VPB_1,VPB_2,VRE_0,VRE_1,VRE_2
0,2,0,1,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,1,0,1,0,0
2,0,0,1,0,0,1,0,1,0,0,...,0,0,1,0,1,0,0,1,0,0
3,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,0,0,1,0,1,0
4,0,0,1,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,1,1,0,0,0,0,1,1,0,0,...,0,1,0,0,1,0,0,0,0,1
1234,1,1,0,0,1,0,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0
1235,1,1,0,0,1,0,0,1,0,0,...,1,1,0,0,0,0,1,1,0,0
1236,1,1,0,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
1237,1,1,0,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0

In [26]:
data_predict.to_csv(r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total/creator/data_predict.csv', index=False)

In [28]:
import pandas as pd

data_predict = pd.read_csv(r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total/creator/data_predict.csv')

In [29]:
data_predict.columns

Index(['VN30', 'ACB_0', 'ACB_1', 'ACB_2', 'BID_0', 'BID_1', 'BID_2', 'BVH_0',
       'BVH_1', 'BVH_2', 'CTG_0', 'CTG_1', 'CTG_2', 'FPT_0', 'FPT_1', 'FPT_2',
       'GAS_0', 'GAS_1', 'GAS_2', 'GVR_0', 'GVR_1', 'GVR_2', 'HDB_0', 'HDB_1',
       'HDB_2', 'HPG_0', 'HPG_1', 'HPG_2', 'KDH_0', 'KDH_1', 'KDH_2', 'MBB_0',
       'MBB_1', 'MBB_2', 'MSN_0', 'MSN_1', 'MSN_2', 'MWG_0', 'MWG_1', 'MWG_2',
       'NVL_0', 'NVL_1', 'NVL_2', 'PDR_0', 'PDR_1', 'PDR_2', 'PLX_0', 'PLX_1',
       'PLX_2', 'PNJ_0', 'PNJ_1', 'PNJ_2', 'POW_0', 'POW_1', 'POW_2', 'SAB_0',
       'SAB_1', 'SAB_2', 'SSI_0', 'SSI_1', 'SSI_2', 'STB_0', 'STB_1', 'STB_2',
       'TCB_0', 'TCB_1', 'TCB_2', 'TPB_0', 'TPB_1', 'TPB_2', 'VCB_0', 'VCB_1',
       'VCB_2', 'VHM_0', 'VHM_1', 'VHM_2', 'VIC_0', 'VIC_1', 'VIC_2', 'VJC_0',
       'VJC_1', 'VJC_2', 'VNM_0', 'VNM_1', 'VNM_2', 'VPB_0', 'VPB_1', 'VPB_2',
       'VRE_0', 'VRE_1', 'VRE_2'],
      dtype='object')

In [30]:
text = ''
for i in ['VN30', 'ACB_0', 'ACB_1', 'ACB_2', 'BID_0', 'BID_1', 'BID_2', 'BVH_0',
       'BVH_1', 'BVH_2', 'CTG_0', 'CTG_1', 'CTG_2', 'FPT_0', 'FPT_1', 'FPT_2',
       'GAS_0', 'GAS_1', 'GAS_2', 'GVR_0', 'GVR_1', 'GVR_2', 'HDB_0', 'HDB_1',
       'HDB_2', 'HPG_0', 'HPG_1', 'HPG_2', 'KDH_0', 'KDH_1', 'KDH_2', 'MBB_0',
       'MBB_1', 'MBB_2', 'MSN_0', 'MSN_1', 'MSN_2', 'MWG_0', 'MWG_1', 'MWG_2',
       'NVL_0', 'NVL_1', 'NVL_2', 'PDR_0', 'PDR_1', 'PDR_2', 'PLX_0', 'PLX_1',
       'PLX_2', 'PNJ_0', 'PNJ_1', 'PNJ_2', 'POW_0', 'POW_1', 'POW_2', 'SAB_0',
       'SAB_1', 'SAB_2', 'SSI_0', 'SSI_1', 'SSI_2', 'STB_0', 'STB_1', 'STB_2',
       'TCB_0', 'TCB_1', 'TCB_2', 'TPB_0', 'TPB_1', 'TPB_2', 'VCB_0', 'VCB_1',
       'VCB_2', 'VHM_0', 'VHM_1', 'VHM_2', 'VIC_0', 'VIC_1', 'VIC_2', 'VJC_0',
       'VJC_1', 'VJC_2', 'VNM_0', 'VNM_1', 'VNM_2', 'VPB_0', 'VPB_1', 'VPB_2',
       'VRE_0', 'VRE_1', 'VRE_2']:
    text = text + ' + ' + i

In [31]:
text

' + VN30 + ACB_0 + ACB_1 + ACB_2 + BID_0 + BID_1 + BID_2 + BVH_0 + BVH_1 + BVH_2 + CTG_0 + CTG_1 + CTG_2 + FPT_0 + FPT_1 + FPT_2 + GAS_0 + GAS_1 + GAS_2 + GVR_0 + GVR_1 + GVR_2 + HDB_0 + HDB_1 + HDB_2 + HPG_0 + HPG_1 + HPG_2 + KDH_0 + KDH_1 + KDH_2 + MBB_0 + MBB_1 + MBB_2 + MSN_0 + MSN_1 + MSN_2 + MWG_0 + MWG_1 + MWG_2 + NVL_0 + NVL_1 + NVL_2 + PDR_0 + PDR_1 + PDR_2 + PLX_0 + PLX_1 + PLX_2 + PNJ_0 + PNJ_1 + PNJ_2 + POW_0 + POW_1 + POW_2 + SAB_0 + SAB_1 + SAB_2 + SSI_0 + SSI_1 + SSI_2 + STB_0 + STB_1 + STB_2 + TCB_0 + TCB_1 + TCB_2 + TPB_0 + TPB_1 + TPB_2 + VCB_0 + VCB_1 + VCB_2 + VHM_0 + VHM_1 + VHM_2 + VIC_0 + VIC_1 + VIC_2 + VJC_0 + VJC_1 + VJC_2 + VNM_0 + VNM_1 + VNM_2 + VPB_0 + VPB_1 + VPB_2 + VRE_0 + VRE_1 + VRE_2'

In [9]:
column_names = ['ACB', 'BID', 'BVH', 'CTG', 'FPT', 'GAS', 'GVR', 'HDB', 'HPG', 'KDH', 'MBB', 'MSN', 'MWG', 'NVL',
'PDR', 'PLX', 'PNJ', 'POW', 'SAB', 'SSI', 'STB', 'TCB', 'TPB', 'VCB', 'VHM', 'VIC', 'VJC', 'VNM',
'VPB', 'VRE', 'VN30']

In [32]:
import statsmodels.api as sm

model_lin = sm.OLS.from_formula('VN30 ~ ACB_0 + ACB_1 + ACB_2 + BID_0 + BID_1 + BID_2 + BVH_0 + BVH_1 + BVH_2 + CTG_0 + CTG_1 + CTG_2 + FPT_0 + FPT_1 + FPT_2 + GAS_0 + GAS_1 + GAS_2 + GVR_0 + GVR_1 + GVR_2 + HDB_0 + HDB_1 + HDB_2 + HPG_0 + HPG_1 + HPG_2 + KDH_0 + KDH_1 + KDH_2 + MBB_0 + MBB_1 + MBB_2 + MSN_0 + MSN_1 + MSN_2 + MWG_0 + MWG_1 + MWG_2 + NVL_0 + NVL_1 + NVL_2 + PDR_0 + PDR_1 + PDR_2 + PLX_0 + PLX_1 + PLX_2 + PNJ_0 + PNJ_1 + PNJ_2 + POW_0 + POW_1 + POW_2 + SAB_0 + SAB_1 + SAB_2 + SSI_0 + SSI_1 + SSI_2 + STB_0 + STB_1 + STB_2 + TCB_0 + TCB_1 + TCB_2 + TPB_0 + TPB_1 + TPB_2 + VCB_0 + VCB_1 + VCB_2 + VHM_0 + VHM_1 + VHM_2 + VIC_0 + VIC_1 + VIC_2 + VJC_0 + VJC_1 + VJC_2 + VNM_0 + VNM_1 + VNM_2 + VPB_0 + VPB_1 + VPB_2 + VRE_0 + VRE_1 + VRE_2', data=data_predict)
result_lin = model_lin.fit()
result_lin.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   VN30   R-squared:                       0.170
Model:                            OLS   Adj. R-squared:                  0.127
Method:                 Least Squares   F-statistic:                     4.013
Date:                Thu, 09 Mar 2023   Prob (F-statistic):           8.19e-21
Time:                        21:28:59   Log-Likelihood:                -304.14
No. Observations:                1238   AIC:                             730.3
Df Residuals:                    1177   BIC:                             1043.
Df Model:                          60
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0206      0.005      4.105      0.000       0.011       0.030
ACB_0          0.0024      0.014      0.170      0.865      -0.025       0.029
ACB_1          0.0297      0.019      1.566      0.118      -0.008       0.067
ACB_2         -0.0115      0.020     -0.586      0.558      -0.050       0.027
BID_0          0.0079      0.015      0.532      0.595      -0.021       0.037
BID_1          0.0123      0.022      0.554      0.579      -0.031       0.056
BID_2          0.0005      0.022      0.021      0.983      -0.043       0.044
BVH_0          0.0422      0.016      2.601      0.009       0.010       0.074
BVH_1          0.0176      0.024      0.742      0.458      -0.029       0.064
BVH_2         -0.0392      0.026     -1.513      0.131      -0.090       0.012
CTG_0         -0.0144      0.014     -1.053      0.293      -0.041       0.012
CTG_1         -0.0402      0.020     -1.995      0.046      -0.080      -0.001
CTG_2          0.0752      0.019      3.994      0.000       0.038       0.112
FPT_0         -0.0155      0.015     -1.014      0.311      -0.045       0.014
FPT_1          0.0743      0.025      3.002      0.003       0.026       0.123
FPT_2         -0.0382      0.022     -1.755      0.080      -0.081       0.005
GAS_0         -0.0053      0.016     -0.324      0.746      -0.037       0.027
GAS_1          0.0436      0.026      1.672      0.095      -0.008       0.095
GAS_2         -0.0177      0.024     -0.726      0.468      -0.065       0.030
GVR_0          0.0106      0.016      0.679      0.497      -0.020       0.041
GVR_1         -0.0244      0.025     -0.974      0.330      -0.073       0.025
GVR_2          0.0344      0.021      1.607      0.108      -0.008       0.076
HDB_0         -0.0072      0.015     -0.485      0.628      -0.036       0.022
HDB_1          0.0273      0.024      1.122      0.262      -0.020       0.075
HDB_2          0.0005      0.019      0.024      0.981      -0.037       0.038
HPG_0         -0.0636      0.015     -4.146      0.000      -0.094      -0.033
HPG_1          0.0454      0.024      1.855      0.064      -0.003       0.093
HPG_2          0.0388      0.020      1.983      0.048       0.000       0.077
KDH_0          0.0555      0.015      3.792      0.000       0.027       0.084
KDH_1         -0.0393      0.022     -1.769      0.077      -0.083       0.004
KDH_2          0.0044      0.021      0.210      0.834      -0.037       0.046
MBB_0         -0.0136      0.014     -0.983      0.326      -0.041       0.014
MBB_1          0.0139      0.020      0.692      0.489      -0.025       0.053
MBB_2          0.0204      0.019      1.066      0.287      -0.017       0.058
MSN_0         -0.0150      0.014     -1.059      0.290      -0.043       0.013
MSN_1         -0.0037      0.019     -0.189      0.850      -0.042       0.035
MSN_2          0.0393      0.021      1.910      0.056      -0.001       0.080
MWG_0          0.0419      0.015      2.880      0.004       0.013       0.070
MWG_1         -0.0508      0.022     -2.318      0.021      -0.094      -0.008
MWG_2          0.0295      0.021      1.405      0.160      -0.012       0.071
NVL_0         -0.0214      0.017     -1.266      0.206      -0.055       0.012
NVL_1         -0.0552      0.027     -2.054      0.040      -0.108      -0.002
NVL_2          0.0972      0.025      3.922      0.000       0.049       0.146
PDR_0         -0.0688      0.017     -3.942      0.000      -0.103      -0.035
PDR_1         -0.0447      0.027     -1.647      0.100      -0.098       0.009
PDR_2          0.1341      0.027      4.995      0.000       0.081       0.187
PLX_0          0.0186      0.015      1.215      0.225      -0.011       0.049
PLX_1          0.0221      0.023      0.972      0.331      -0.022       0.067
PLX_2         -0.0201      0.024     -0.853      0.394      -0.066       0.026
PNJ_0          0.0114      0.015      0.757      0.449      -0.018       0.041
PNJ_1          0.0209      0.023      0.916      0.360      -0.024       0.066
PNJ_2         -0.0117      0.023     -0.498      0.619      -0.058       0.034
POW_0          0.0123      0.014      0.877      0.381      -0.015       0.040
POW_1          0.0226      0.020      1.124      0.261      -0.017       0.062
POW_2         -0.0143      0.021     -0.696      0.486      -0.054       0.026
SAB_0          0.0099      0.019      0.507      0.612      -0.028       0.048
SAB_1          0.0028      0.030      0.095      0.925      -0.056       0.062
SAB_2          0.0079      0.032      0.249      0.803      -0.054       0.070
SSI_0         -0.0618      0.015     -4.223      0.000      -0.090      -0.033
SSI_1          0.0066      0.023      0.294      0.769      -0.038       0.051
SSI_2          0.0757      0.020      3.812      0.000       0.037       0.115
STB_0         -0.0159      0.015     -1.077      0.282      -0.045       0.013
STB_1         -0.0086      0.023     -0.379      0.705      -0.053       0.036
STB_2          0.0451      0.020      2.201      0.028       0.005       0.085
TCB_0         -0.0006      0.014     -0.045      0.964      -0.028       0.027
TCB_1          0.0271      0.021      1.319      0.188      -0.013       0.067
TCB_2         -0.0058      0.019     -0.302      0.763      -0.044       0.032
TPB_0          0.0447      0.015      3.060      0.002       0.016       0.073
TPB_1         -0.0244      0.022     -1.128      0.260      -0.067       0.018
TPB_2          0.0003      0.021      0.013      0.990      -0.041       0.042
VCB_0         -0.0175      0.015     -1.137      0.256      -0.048       0.013
VCB_1          0.0133      0.023      0.570      0.569      -0.033       0.059
VCB_2          0.0248      0.024      1.040      0.298      -0.022       0.071
VHM_0          0.0372      0.015      2.445      0.015       0.007       0.067
VHM_1         -0.0319      0.021     -1.498      0.134      -0.074       0.010
VHM_2          0.0153      0.024      0.640      0.522      -0.032       0.062
VIC_0          0.0175      0.016      1.126      0.260      -0.013       0.048
VIC_1      -4.102e-05      0.025     -0.002      0.999      -0.049       0.049
VIC_2          0.0031      0.021      0.149      0.882      -0.038       0.044
VJC_0          0.0084      0.015      0.578      0.563      -0.020       0.037
VJC_1          0.0557      0.022      2.549      0.011       0.013       0.099
VJC_2         -0.0435      0.022     -2.017      0.044      -0.086      -0.001
VNM_0          0.0089      0.016      0.563      0.574      -0.022       0.040
VNM_1          0.0209      0.023      0.918      0.359      -0.024       0.066
VNM_2         -0.0092      0.023     -0.400      0.689      -0.055       0.036
VPB_0          0.0124      0.014      0.875      0.382      -0.015       0.040
VPB_1          0.0586      0.022      2.712      0.007       0.016       0.101
VPB_2         -0.0505      0.020     -2.584      0.010      -0.089      -0.012
VRE_0          0.0058      0.015      0.395      0.693      -0.023       0.035
VRE_1          0.0602      0.023      2.631      0.009       0.015       0.105
VRE_2         -0.0454      0.020     -2.296      0.022      -0.084      -0.007
==============================================================================
Omnibus:                      552.940   Durbin-Watson:                   0.589
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2196.708
Skew:                           2.198   Prob(JB):                         0.00
Kurtosis:                       7.823   Cond. No.                     2.57e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.76e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [167]:
indexs = result_lin.pvalues.index
values = result_lin.pvalues.values.tolist()

In [168]:
df_pvalues = pd.DataFrame(list(zip(indexs, values)),
               columns =['index', 'value'])
df_pvalues

        index     value
0   Intercept  0.000043
1       ACB_0  0.864812
2       ACB_1  0.117507
3       ACB_2  0.557918
4       BID_0  0.594950
..        ...       ...
86      VPB_1  0.006794
87      VPB_2  0.009898
88      VRE_0  0.693073
89      VRE_1  0.008632
90      VRE_2  0.021857

[91 rows x 2 columns]

In [169]:
df_pvalues = df_pvalues[df_pvalues['index'] != 'Intercept']

In [171]:
df_cau_6 = df_pvalues[(df_pvalues['index'].str.contains('_1') == False) & (df_pvalues['value'] < 0.05)]
df_cau_6['value'] = df_cau_6['value'].apply(lambda x: '{0:f}'.format(float(x)))

df_cau_6 = df_cau_6.sort_values(by=['value'])
df_cau_6

C:\Users\Admin\AppData\Local\Temp\ipykernel_12748\2776754321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cau_6['value'] = df_cau_6['value'].apply(lambda x: '{0:f}'.format(float(x)))

    index     value
45  PDR_2  0.000001
58  SSI_0  0.000026
25  HPG_0  0.000036
12  CTG_2  0.000069
43  PDR_0  0.000086
42  NVL_2  0.000093
60  SSI_2  0.000145
28  KDH_0  0.000157
67  TPB_0  0.002263
37  MWG_0  0.004050
7   BVH_0  0.009422
87  VPB_2  0.009898
73  VHM_0  0.014638
90  VRE_2  0.021857
63  STB_2  0.027944
81  VJC_2  0.043881
27  HPG_2  0.047552

- Ở cột index: + nếu có _0 phía sau mã cổ phiếu, nghĩa là giá cổ phiếu giảm giá trị so với lần lấy trước

               + nếu có _2 phía sau mã cổ phiếu, nghĩa là giá cổ phiếu tăng giá trị so với lần lấy trước

- Ở cột Value: + giá trị càng nhỏ, thì độ ảnh hưởng tới giá của mã cổ phiếu VN_30 càng lớn

                VD: *ở index = 'PDR_2' => khi giá cổ phiếu PDR tăng, thì sẽ có ảnh hưởng lớn đến VN_30
                
                    *ở index = 'SSI_0' => khi giá cổ phiếu SSI giảm, thì sẽ có ảnh hưởng lớn đến VN_30

In [172]:
df_cau_6.to_excel('C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total/creator/Ket_qua_cau_6.xlsx', index=False)

Câu 7: Code ra một thuật toán có input là giá 30 mã cổ phiếu, và output là vn30_index. Forward
test thuật toán đó và thống kê xem accuracy ở mức nào

Chuẩn bị data

In [1]:
# Import libraries
import glob
import pandas as pd

# Get CSV files list from a folder
path = r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total'
csv_files = glob.glob(path + "/*.csv")

# Read each CSV file into DataFrame
# This creates a list of dataframes
df_list = (pd.read_csv(file)[:1238] for file in csv_files)

# Concatenate all DataFrames
big_df   = pd.concat(df_list, ignore_index=True)

big_df

,o,t,c,ch,h,l,mb,mv,ra,se,va,vo,vn_id
0,24850.0,22133,24500.0,0.0,24900.0,24500.0,ASK,69800,0.00,57.0,5768235000,235000,ACB
1,24850.0,22133,24550.0,50.0,24900.0,24500.0,ASK,100,0.20,57.0,5768235000,235000,ACB
2,24850.0,22133,24550.0,50.0,24900.0,24500.0,ASK,100,0.20,57.0,5768235000,235000,ACB
3,24850.0,22057,24500.0,0.0,24900.0,24500.0,ASK,62300,0.00,54.0,3563235000,145000,ACB
4,24850.0,22057,24500.0,0.0,24900.0,24500.0,ASK,27200,0.00,54.0,3563235000,145000,ACB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38373,26550.0,72327,26600.0,450.0,27000.0,26500.0,ASK,1000,1.72,2167.0,54028950000,2020700,VRE
38374,26550.0,72321,26600.0,450.0,27000.0,26500.0,ASK,400,1.72,2164.0,53978410000,2018800,VRE
38375,26550.0,72311,26600.0,450.0,27000.0,26500.0,ASK,4800,1.72,2163.0,53850730000,2014000,VRE
38376,26550.0,72301,26600.0,450.0,27000.0,26500.0,ASK,4800,1.72,2162.0,53723050000,2009200,VRE
38377,26550.0,72256,26650.0,500.0,27000.0,26500.0,BID,200,1.91,2161.0,53717720000,2009000,VRE

In [2]:
df_7_1238 = big_df[['vo','vn_id']]
df_7_1238

            vo vn_id
0       235000   ACB
1       235000   ACB
2       235000   ACB
3       145000   ACB
4       145000   ACB
...        ...   ...
38373  2020700   VRE
38374  2018800   VRE
38375  2014000   VRE
38376  2009200   VRE
38377  2009000   VRE

[38378 rows x 2 columns]

In [4]:
df_ACB = df_7_1238[df_7_1238['vn_id'] == 'ACB']
df_BID = df_7_1238[df_7_1238['vn_id'] == 'BID']
df_BVH = df_7_1238[df_7_1238['vn_id'] == 'BVH']
df_CTG = df_7_1238[df_7_1238['vn_id'] == 'CTG']
df_FPT = df_7_1238[df_7_1238['vn_id'] == 'FPT']
df_GAS = df_7_1238[df_7_1238['vn_id'] == 'GAS']
df_GVR = df_7_1238[df_7_1238['vn_id'] == 'GVR']
df_HDB = df_7_1238[df_7_1238['vn_id'] == 'HDB']
df_HPG = df_7_1238[df_7_1238['vn_id'] == 'HPG']
df_KDH = df_7_1238[df_7_1238['vn_id'] == 'KDH']
df_MBB = df_7_1238[df_7_1238['vn_id'] == 'MBB']
df_MSN = df_7_1238[df_7_1238['vn_id'] == 'MSN']
df_MWG = df_7_1238[df_7_1238['vn_id'] == 'MWG']
df_NVL = df_7_1238[df_7_1238['vn_id'] == 'NVL']
df_PDR = df_7_1238[df_7_1238['vn_id'] == 'PDR']
df_PLX = df_7_1238[df_7_1238['vn_id'] == 'PLX']
df_PNJ = df_7_1238[df_7_1238['vn_id'] == 'PNJ']
df_POW = df_7_1238[df_7_1238['vn_id'] == 'POW']
df_SAB = df_7_1238[df_7_1238['vn_id'] == 'SAB']
df_SSI = df_7_1238[df_7_1238['vn_id'] == 'SSI']
df_STB = df_7_1238[df_7_1238['vn_id'] == 'STB']
df_TCB = df_7_1238[df_7_1238['vn_id'] == 'TCB']
df_TPB = df_7_1238[df_7_1238['vn_id'] == 'TPB']
df_VCB = df_7_1238[df_7_1238['vn_id'] == 'VCB']
df_VHM = df_7_1238[df_7_1238['vn_id'] == 'VHM']
df_VIC = df_7_1238[df_7_1238['vn_id'] == 'VIC']
df_VJC = df_7_1238[df_7_1238['vn_id'] == 'VJC']
df_VNM = df_7_1238[df_7_1238['vn_id'] == 'VNM']
df_VPB = df_7_1238[df_7_1238['vn_id'] == 'VPB']
df_VRE = df_7_1238[df_7_1238['vn_id'] == 'VRE']
df_VN30 = df_7_1238[df_7_1238['vn_id'] == 'VN30']

In [5]:
df_VN30

              vo vn_id
33426   10723100  VN30
33427   10608400  VN30
33428   10585700  VN30
33429   10569400  VN30
33430   10483500  VN30
...          ...   ...
34659  144462100  VN30
34660  144462100  VN30
34661  144462100  VN30
34662  144462100  VN30
34663  144462100  VN30

[1238 rows x 2 columns]

In [6]:
column_names = ['ACB', 'BID', 'BVH', 'CTG', 'FPT', 'GAS', 'GVR', 'HDB', 'HPG', 'KDH', 'MBB', 'MSN', 'MWG', 'NVL',
'PDR', 'PLX', 'PNJ', 'POW', 'SAB', 'SSI', 'STB', 'TCB', 'TPB', 'VCB', 'VHM', 'VIC', 'VJC', 'VNM',
'VPB', 'VRE', 'VN30']

df_predict_price = pd.DataFrame(columns= column_names)

df_predict_price

Empty DataFrame
Columns: [ACB, BID, BVH, CTG, FPT, GAS, GVR, HDB, HPG, KDH, MBB, MSN, MWG, NVL, PDR, PLX, PNJ, POW, SAB, SSI, STB, TCB, TPB, VCB, VHM, VIC, VJC, VNM, VPB, VRE, VN30]
Index: []

[0 rows x 31 columns]

In [7]:
df_predict_price = df_predict_price.assign(ACB = df_ACB.vo.to_list(),
                 BID = df_BID.vo.to_list(),
                 BVH = df_BVH.vo.to_list(),
                 CTG = df_CTG.vo.to_list(),
                 FPT = df_FPT.vo.to_list(),
                 GAS = df_GAS.vo.to_list(),
                 GVR = df_GVR.vo.to_list(),
                 HDB = df_HDB.vo.to_list(),
                 HPG = df_HPG.vo.to_list(),
                 KDH = df_KDH.vo.to_list(),
                 MBB = df_MBB.vo.to_list(),
                 MSN = df_MSN.vo.to_list(),
                 MWG = df_MWG.vo.to_list(),
                 NVL = df_NVL.vo.to_list(),
                 PDR = df_PDR.vo.to_list(),
                 PLX = df_PLX.vo.to_list(),
                 PNJ = df_PNJ.vo.to_list(),
                 POW = df_POW.vo.to_list(),
                 SAB = df_SAB.vo.to_list(),
                 SSI = df_SSI.vo.to_list(),
                 STB = df_STB.vo.to_list(),
                 TCB = df_TCB.vo.to_list(),
                 TPB = df_TPB.vo.to_list(),
                 VCB = df_VCB.vo.to_list(),
                 VHM = df_VHM.vo.to_list(),
                 VIC = df_VIC.vo.to_list(),
                 VJC = df_VJC.vo.to_list(),
                 VNM = df_VNM.vo.to_list(),
                 VPB = df_VPB.vo.to_list(),
                 VRE = df_VRE.vo.to_list(),
                 VN30 = df_VN30.vo.to_list())

In [25]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))

df_predict_price_1 = df_predict_price.assign(ACB = scaler.fit_transform(df_ACB.vo.array.reshape(-1, 1)),
                 BID = scaler.fit_transform(df_BID.vo.array.reshape(-1, 1)),
                 BVH = scaler.fit_transform(df_BVH.vo.array.reshape(-1, 1)),
                 CTG = scaler.fit_transform(df_CTG.vo.array.reshape(-1, 1)),
                 FPT = scaler.fit_transform(df_FPT.vo.array.reshape(-1, 1)),
                 GAS = scaler.fit_transform(df_GAS.vo.array.reshape(-1, 1)),
                 GVR = scaler.fit_transform(df_GVR.vo.array.reshape(-1, 1)),
                 HDB = scaler.fit_transform(df_HDB.vo.array.reshape(-1, 1)),
                 HPG = scaler.fit_transform(df_HPG.vo.array.reshape(-1, 1)),
                 KDH = scaler.fit_transform(df_KDH.vo.array.reshape(-1, 1)),
                 MBB = scaler.fit_transform(df_MBB.vo.array.reshape(-1, 1)),
                 MSN = scaler.fit_transform(df_MSN.vo.array.reshape(-1, 1)),
                 MWG = scaler.fit_transform(df_MWG.vo.array.reshape(-1, 1)),
                 NVL = scaler.fit_transform(df_NVL.vo.array.reshape(-1, 1)),
                 PDR = scaler.fit_transform(df_PDR.vo.array.reshape(-1, 1)),
                 PLX = scaler.fit_transform(df_PLX.vo.array.reshape(-1, 1)),
                 PNJ = scaler.fit_transform(df_PNJ.vo.array.reshape(-1, 1)),
                 POW = scaler.fit_transform(df_POW.vo.array.reshape(-1, 1)),
                 SAB = scaler.fit_transform(df_SAB.vo.array.reshape(-1, 1)),
                 SSI = scaler.fit_transform(df_SSI.vo.array.reshape(-1, 1)),
                 STB = scaler.fit_transform(df_STB.vo.array.reshape(-1, 1)),
                 TCB = scaler.fit_transform(df_TCB.vo.array.reshape(-1, 1)),
                 TPB = scaler.fit_transform(df_TPB.vo.array.reshape(-1, 1)),
                 VCB = scaler.fit_transform(df_VCB.vo.array.reshape(-1, 1)),
                 VHM = scaler.fit_transform(df_VHM.vo.array.reshape(-1, 1)),
                 VIC = scaler.fit_transform(df_VIC.vo.array.reshape(-1, 1)),
                 VJC = scaler.fit_transform(df_VJC.vo.array.reshape(-1, 1)),
                 VNM = scaler.fit_transform(df_VNM.vo.array.reshape(-1, 1)),
                 VPB = scaler.fit_transform(df_VPB.vo.array.reshape(-1, 1)),
                 VRE = scaler.fit_transform(df_VRE.vo.array.reshape(-1, 1)),
                 VN30 = scaler.fit_transform(df_VN30.vo.array.reshape(-1, 1)))

# .values.tolist()

In [2]:
import pandas as pd

# df_predict_price.to_csv(r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total/creator/df_predict_price.csv', index=False)
df_predict_price = pd.read_csv(r'C:/Users/Admin/OneDrive_Quan/Máy tính/Test_CTY_Dang/Request/total_data/total/creator/df_predict_price.csv')
df_predict_price.head(10)

,ACB,BID,BVH,CTG,FPT,GAS,GVR,HDB,HPG,KDH,...,TCB,TPB,VCB,VHM,VIC,VJC,VNM,VPB,VRE,VN30
0,235000,6700,1300,97300,88300,12800,18800,214800,1253100,40500,...,101100,29500,13200,147700,22000,2500,16100,150700,58300,10723100
1,235000,6100,1100,94900,88000,12200,17000,214600,1251100,40400,...,98600,29200,12300,146700,21900,2500,16100,150700,58200,10608400
2,235000,6100,800,95200,87000,11900,16000,214700,1250800,40000,...,98600,29000,12300,146600,20100,2000,16100,150000,57900,10585700
3,145000,6000,500,94700,86800,11800,15500,214500,1250300,39000,...,97100,28600,12300,146400,19400,1900,15100,150200,57900,10569400
4,145000,5900,300,87900,85800,11700,14800,214400,1250200,38800,...,97100,28000,12300,145400,18200,1500,14100,126200,57500,10483500
5,145000,4900,200,87900,84400,11400,13600,214300,1242700,34800,...,97000,26100,11900,142300,18300,1600,12300,126200,57400,10463100
6,143100,4700,100,87900,85400,11100,14700,214100,1248600,34700,...,96100,26100,11200,142300,18200,1400,10500,116000,56900,10304900
7,61100,4400,0,87900,83500,10900,13300,213200,1248700,31700,...,96900,26100,11100,142300,18200,1300,10300,116000,55200,10299100
8,61100,4400,51300,85100,83400,10800,12700,213100,1242500,31600,...,96000,26100,11000,141200,18200,1200,5800,116000,50200,10026900
9,61100,4300,51300,84600,81900,10400,12500,212100,1241900,30600,...,75100,24200,10900,141100,18000,700,5800,115900,50200,9958300

In [3]:
df_predict_price.describe()

,ACB,BID,BVH,CTG,FPT,GAS,GVR,HDB,HPG,KDH,...,TCB,TPB,VCB,VHM,VIC,VJC,VNM,VPB,VRE,VN30
count,1.238000e+03,1.238000e+03,1238.000000,1.238000e+03,1238.000000,1238.000000,1238.000000,1.238000e+03,1.238000e+03,1.238000e+03,...,1.238000e+03,1.238000e+03,1238.000000,1.238000e+03,1.238000e+03,1238.000000,1.238000e+03,1.238000e+03,1.238000e+03,1.238000e+03
mean,2.588694e+06,5.695233e+05,79002.019386,1.439727e+06,374527.867528,72837.237480,317486.914378,1.649141e+06,1.288334e+07,6.519967e+05,...,1.037465e+06,9.505358e+05,404047.980614,1.172866e+06,6.846264e+05,117466.155089,4.638793e+05,5.677254e+06,1.291357e+06,6.279764e+07
std,1.227422e+06,4.179521e+05,43841.772391,9.006523e+05,201397.468249,61591.317232,185592.570448,9.900090e+05,1.000654e+07,4.529960e+05,...,5.765876e+05,4.970640e+05,271518.567427,6.963693e+05,3.507041e+05,66568.299193,2.722577e+05,3.727410e+06,6.338812e+05,3.520799e+07
min,0.000000e+00,0.000000e+00,0.000000,7.700000e+03,0.000000,0.000000,0.000000,0.000000e+00,2.842000e+05,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.076800e+06,3.227500e+05,48300.000000,1.019100e+06,243400.000000,22200.000000,180100.000000,9.101000e+05,5.257650e+06,2.940250e+05,...,6.856500e+05,5.978000e+05,214450.000000,7.188000e+05,4.651250e+05,75100.000000,2.808250e+05,3.984750e+06,9.316000e+05,4.637222e+07
50%,2.587700e+06,3.979500e+05,71050.000000,1.439850e+06,358400.000000,52100.000000,345900.000000,1.519100e+06,1.164535e+07,5.895000e+05,...,9.657000e+05,8.633000e+05,329200.000000,1.305100e+06,6.716000e+05,97700.000000,4.139000e+05,4.767450e+06,1.389700e+06,6.363830e+07
75%,2.964700e+06,7.297250e+05,124850.000000,2.090250e+06,452600.000000,112650.000000,424700.000000,2.011350e+06,1.540872e+07,1.046275e+06,...,1.180450e+06,1.584300e+06,512975.000000,1.735700e+06,7.847750e+05,184100.000000,5.868250e+05,6.269600e+06,1.590575e+06,7.439892e+07
max,4.745100e+06,1.510500e+06,166500.000000,2.959100e+06,731600.000000,192000.000000,805600.000000,3.241100e+06,2.866510e+07,1.796700e+06,...,2.143500e+06,1.895200e+06,931900.000000,2.534200e+06,1.312700e+06,272600.000000,1.035200e+06,1.257540e+07,2.353400e+06,1.444621e+08

In [4]:
# Model

## Chuẩn bị data
X = df_predict_price.drop('VN30', axis= 1)
y = df_predict_price.VN30

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [7]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(990, 30) (990,)
(248, 30) (248,)

Linear Regression

In [8]:
## Model

from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report

model_LR = LinearRegression()

model_LR.fit(X_train, y_train)

LinearRegression()

In [9]:
# Model Predict

y_pred_lr = model_LR.predict(X_train)

In [10]:
# Model Evaluation
from sklearn import metrics
import numpy as np

print('R^2:',metrics.r2_score(y_train, y_pred_lr))
print('MAE:',metrics.mean_absolute_error(y_train, y_pred_lr))
print('MSE:',metrics.mean_squared_error(y_train, y_pred_lr))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_train, y_pred_lr)))

R^2: 0.9981733378678742
MAE: 1121769.6721412716
MSE: 2262570426280.5933
RMSE: 1504184.3059547567

- R^2 : phản ánh mức độ giải thích của các biến độc lập đối với biến phụ thuộc trong mô hình hồi quy.
    + VD: R^2 = 0.9981 => các biến độc lập giải thích được 99.81% sự biến thiên của biến phụ thuộc.
- MAE : đo độ lớn trung bình của các lỗi trong một tập hợp các dự đoán mà không cần xem xét hướng của chúng. Đó là giá trị trung bình trên mẫu thử nghiệm về sự khác biệt tuyệt đối giữa dự đoán và quan sát thực tế, trong đó tất cả các khác biệt riêng lẻ có trọng số bằng nhau.
- MSE : căn bậc hai của mức trung bình của các sai số bình phương. RMSE là độ lệch chuẩn của các phần dư (sai số dự đoán).
- RMSE :

Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

model_Lr_ = LogisticRegression()

model_Lr_.fit(X_train, y_train)

In [13]:
# Model Predict

y_pred_lr_ = model_Lr_.predict(X_train)

In [14]:
# Model Evaluation
from sklearn import metrics
import numpy as np

print('R^2:',metrics.r2_score(y_train, y_pred_lr_))
print('MAE:',metrics.mean_absolute_error(y_train, y_pred_lr_))
print('MSE:',metrics.mean_squared_error(y_train, y_pred_lr_))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_train, y_pred_lr_)))

R^2: 0.9999374794884966
MAE: 52360.606060606064
MSE: 77440188787.87878
RMSE: 278280.77329898084